*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body {
    background-color: rgb(7, 7, 7);
    color: rgb(224, 225, 226);
    width:100vw;
    height: 100vh;
    border:5px;
    gap:1%;
    
}

.gridarea{
    position: relative;
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 90vh 10vh;
}

main{
   font-size: 22px;
   border-radius: 40px;
   background: rgba(18,18,18,255);
   overflow: scroll;
   grid-column-start:2 ;
   grid-column-end:3;

}
footer{
    background: mediumorchid;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

aside{
    margin:0.5rem;
    font-size: 0.75rem;
    border-radius: 35px;
    background-color: rgb(17, 17, 17);
    grid-column-start:1 ;
   grid-column-end:2;
   grid-row-start:1 ;
   grid-row-end:2;

}

.itemsection1{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1.25rem;
   
}

.registro{
    background: rgb(14, 13, 13);
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8%;
}

.aside2{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
}

.box{
    margin-top: 0.3125rem;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
    margin-bottom: 0.3125rem;
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

    .box1{
        margin-top: 0.3125rem;
        margin-left: 0.625rem;
        margin-right: 0.625rem;
        margin-bottom: 0.3125rem;
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        display:inline;
    }
.aside3{
    margin: 1.5625rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.s{
    overflow: scroll;

}

.botton{
    padding: 1.375rem;
    margin: 0.625rem;
    border-radius:  80px;
    color:black;
    background-color: rgb(255, 255, 255);
   
}
.botton2{
    margin-top: 1.25rem;
    margin-left: 0.625rem;
    margin-right: 15rem;
    margin-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border-radius:  80px;
    color:black;
    background-color: rgb(255, 255, 255);
}

.botton3{
   /* margin-top: 20px;
    margin-left: 10px;
    margin-right: 180px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    */

    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius:  8em;
    background-color: rgb(255, 255, 255);
    }

    .botton4{
        margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius:  8em;
    background-color: rgb(255, 255, 255);

    }
    
    .btn{
        color:rgb(27, 27, 27);
    }
    .btn2{
        color:rgb(250, 248, 246);
    }

    a{
        text-decoration: none;
    }
    
ul{
    list-style-type: none;
}

.linki{
    text-decoration: none;
}

.text{
    list-style-type: none;
    color: rgb(224, 224, 221);
    display:flex;
    align-content: end;
    
}


    

/*nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
    color: #fff;
}
   

nav a {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}
*/


