*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body {
    background-color: rgb(7, 7, 7);
    color: rgb(224, 225, 226);
    width:100vw;
    height: 100vh;
    border:5px;
    gap:1%;
    
}

.gridarea{
    position: relative;
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 90vh 10vh;
}

main{
   font-size: 30px;
   background-color: rgb(17, 17, 17);
   overflow: scroll;
   grid-column-start:2 ;
   grid-column-end:3;

}
footer{
    background: mediumorchid;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

aside{
    font-size: 12px;
    background-color: rgb(17, 17, 17);
    grid-column-start:1 ;
   grid-column-end:2;
   grid-row-start:1 ;
   grid-row-end:2;

}

.itemsection1{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

.registro{
    background: rgb(14, 13, 13);
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8%;
}

.aside2{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
}
    
.aside3{
    margin:10px;
    padding: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;



}

.s{
    position:relative;
    overflow: scroll;

}

.botton{
    border-radius:  10px;
    color:black;
    background-color: bisque;
}

ul{
    list-style-type: none;
    
    
}




    


/*nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
    color: #fff;
}
   

nav a {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}*/


